
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Quicksand:wght@300;700&display=swap');

body{
  font-family: "Comic Neue", sans-serif;
  background-image: url(../img/elondoge.jpg)
}

h3, label, p {
  background-color: rgba(255, 255, 255, 0.596);
}

h3 {
  color:rgb(128, 119, 0);
  font-family: "Quicksand:wght@300", sans-serif;
}
h4 {
  color:rgb(126, 128, 0);
  font-family: "Quicksand:wght@300", sans-serif;
}

label {
  font-family: "Quicksand", sans-serif;
}

.card{
  border-style: solid;
  border-width: 5px 8px 5px 8px;
  border-color: Gold;
  margin-top: 10rem;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
img{
    Border: 5px solid #555;
}
#navbar-brand mb-0 h1 {
    Border:5px solid #555;
}