body {
    background-color: teal;
}

div {
    justify-content: center ;
}


#output {
    text-align: center;
}

/* *{
    color: white;
} */

img{
    max-height: 350px;
    max-width: 350px !important;
}

#photos{
    align-content: center;
}

.arrow{
    max-height: 100px;
}

.custom{
    margin-top: 15px;
}
li{
    display: inline;
    padding: 5px;
    text-decoration: none !important;
    color: white !important;
}
#navBar{
    background-color: dimgrey !important;
    text-decoration: none !important;
    color: white !important;
}
h2, h3{
    margin: 0 auto !important;
}